* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background: #bdc3c7;
}
.page {
    display: flex;
    height: 100%;
}
.main {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}
.sidebar {
    width: 0px;
    flex-shrink: 0;
    transition: width 670ms ease-in;
    overflow: hidden;
}
.sidebar.open {
    width: 200px;
}
.sidebar-content {
    margin: 10px;
    padding: 10px;
    background: white;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}
.cart-title {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.no-items-msg {
    display: none;
    flex-shrink: 0;
    flex-grow: 0;
}
.list-container {
    flex-grow: 1;
    overflow: auto;
}
.summery {
    flex-grow: 0;
    flex-shrink: 0;
}
.sidebar[data-items-count="0"] .no-items-msg {
    display: block;
}
.cart-list {
    list-style: none;
}
.cart-item {
    border-radius: 4px;
    padding: 5px 30px 5px 5px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 15px;
}
.cart-item img {
    width: 33%;
}
.details {
    font-size: 14px;
}
.remove {
    font-size: 14px;
    position: absolute;
    background: transparent;
    top: 1px;
    right: 1px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}
header {
    margin: 10px;
    background: white;
    padding: 10px 50px 10px 10px;
    position: relative;
}
header .menu {
    position: absolute;
    top: 13px;
    right: 30px;
    cursor: pointer;
}
footer {

}
.content .description {
    background: white;
    margin: 10px;
    padding: 10px;
}
.product-list {
    font-size: 0;
    list-style: none;
}
.product {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 15px;
    background: white;
}
.product:first-child {
    margin-top: 0;
}
.product .price {
    font-size: 18px;
}
.product .image img {
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: block;
}
.actions {
    display: flex;
    font-size: 16px;
    justify-content: center;
}
.actions input {
    font-size: inherit;
    width: 30px;
    border: 0;
    text-align: center;
    outline: none;
}
.actions button {
    font-size: inherit;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #27ae60;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.actions button.add {
    width: 70px;
    margin-left: 15px;
}
@media screen and (min-width: 768px){
    .product {
        width: calc(50% - 20px);
    }
    .sidebar.open {
        width: 300px;
    }
}
@media screen and (min-width: 1024px){
    .product {
        width: calc(33% - 20px);
    }
}